h1 {
    font-family: Stea;
}

.stea-name {
    font-size: 150px;
}

h2 {
    font-family: Stea;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}

h3 {
    font-family: WaffleSoft;
    font-size: 40px;
}

h4 {
    font-family: WaffleSoft;
}

@font-face {
    font-family: Stea;
    src: url('Stea Font.otf');
}

@font-face {
    font-family: WaffleSoft;
    src: url('WaffleSoft.otf');
}

.navbar-brand {
    font-family: Stea;
    font-size: 20px;
}

.jumbotron {
    background-color: cadetblue;
    color: beige;
    padding: 100px;
}

.container-fluid {
    background-color: beige;
    color: cadetblue;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.row {
    padding-top: 20px;
}

.glyphicon {
    color: aquamarine
}

.glyphicon-plus-sign {
    font-size: 150px;
    color: darkcyan
}

.contact-icon {
    margin-right: 15px;
}

.about-icon {
    margin-left: 20px;
}

.navbar {
    margin-bottom: 0;
    background-color: beige;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    color: cadetblue
}

.navbar li a, .navbar .navbar-brand {
    color: cadetblue !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: beige !important;
    background-color: cadetblue !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: cadetblue !important;
}

.navbar-right {
    font-family: WaffleSoft;
}

.carousel-content {
    color: cadetblue;
    font-family: cursive;
    font-size: 30px;
    display:inline;
    align-items:center;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#text-carousel {
    width: 100%;
    height: 300px;
    padding: 100px;
    margin-top: 30px;
}