h1 {
    font-family: Stea;
}

.stea-name {
    font-size: 150px;
}

.link-ani {
    color: black;
    text-decoration: underline;
}

.about {
    text-align: left;
    line-height: 1.8;
}

.about-titlel {
    font-family: Stea;
    font-size: 40px;
    text-align: left;
    padding-left: 30px;
}

.paddingl {
    padding-left:30px;
    padding-right:30px;
    text-align:left;
}

.about-titler {
    font-family: Stea;
    font-size: 40px;
    text-align: right;
    padding-right: 30px;
}

.paddingr {
    padding-left:30px;
    padding-right:30px;
    text-align:right;
}

h2 {
    font-family: Stea;
    border-bottom: 2px solid #c6efec;
    padding-bottom: 20px;
}

h3 {
    font-family: WaffleSoft;
    font-size: 40px;
}

h4 {
    font-family: WaffleSoft;
    line-height: 1.4;
}

h5 {
    font-family: WaffleSoft;
}

@font-face {
    font-family: Stea;
    src: url('Stea Font.otf');
}

@font-face {
    font-family: WaffleSoft;
    src: url('WaffleSoft.otf');
}

.navbar-brand {
    font-family: Stea;
    font-size: 20px;
}

.jumbotron {
    background-color: black;
    color: white;
    padding: 100px;
}

.container-fluid {
    background-color: white;
    color: black;
    margin-top: -30px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.row {
    padding-top: 20px;
}

.glyphicon {
    color: #c6efec;
}

.glyphicon-plus-sign {
    font-size: 150px;
    color: #c6efec;
}

.contact-icon {
    margin-right: 15px;
    color: #c6efec;
}

.about-icon {
    
}

.navbar {
    margin-bottom: 0;
    background-color: #c6efec;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    color: white
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: gold !important;
    background-color: black !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: black !important;
}

.navbar-right {
    font-family: WaffleSoft;
}

.carousel-content {
    color: black;
    font-family: cursive;
    font-size: 30px;
    display:inline;
    align-items:center;
    background-color: transparent;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-indicators li {
    background-color: #c6efec;
}

.carousel-indicators .active {
    background-color: gold;
}

#text-carousel {
    width: 100%;
    height: 300px;
    padding-top: 100px;
    margin-top: 30px;
    background-image: url(watercolor.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}